<% include header %>
  <h1>What is your zipcode?</h1>
  <form class="pure-form">
    <fieldset>
      <input type="text" name="zip" placeholder="Your local zipcode" autofocus required>
      <input type="submit" class="pure-button pure-button-primary" value="GO!">
    </fieldset>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="/main.js"></script>
<% include footer %>
